
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F5F8FF;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

/* span {
  display: flex;
  justify-content: left;
  margin-left: 90px;
  position: relative;
  top: 15px;
  font-size: 20px;
} */

.chat {
  margin-left: 170px;
  position: relative;
  top: -21px;
  color: rgb(13, 13, 203);
}

.profile {
  display: flex;
  justify-content: right;
  margin-right: 70px;
  position: relative;
  top: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.photo {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: right;
}

select {
  border: none;
}

.main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 65px;
  box-shadow: 10px 2px 4px 2px rgba(62,60,60,0.6);
}

.head2 {
  display: flex;
  justify-content: space-between;
}

.filter {
  color: rgb(56, 51, 51);
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 100px;
}

.vertical {
  border-left: 1px solid gray;
  height: 50px;
  margin-left: 25px;
  position: relative;
  top: 10px;
}

.dropdowns {
  display: flex; 
  align-items: center;
  margin-left: 25px;
}

#by, .by, #date {
  color: rgb(58, 54, 54);
  font-size: 13px;
}

.all, .selectdate {
  color: rgb(58, 54, 54);
  background-color: #F0F1F1;
  width: 150px;
  height: 30px;
  border-radius: 20px;
}

.date {
  margin-left: 25px;
  font-size: 13px;
  color: rgb(58, 54, 54);
}

.search {
  position: relative;
  top: -10px;
  color: rgb(58, 54, 54);
  margin-right: 70px;
}

.text {
  font-size: 13px;
}

input {
  margin-left: 85px;
  position: relative;
  top: 15px;
  color: rgb(58, 54, 54);
  border-radius: 20px;
  border: none;
  height: 29px;
  width: 180px;
  background-color: #F0F1F1;
  outline: none;
}

.searchicon {
  position: relative;
  top: -5px;
  font-size: smaller;
  color: rgb(58, 54, 54);
  margin-left: 246px;
}

.posts {
  font-size: 23px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 60px;
}

.card {
  height: 385px;
  width: 350px;
  background: #FFFFFF;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(157, 156, 156, 0.1);
}

.img1 {
  width: 310px;
  height: 200px;
  position: relative;
  top: 17px;
  left: 18px;
  gap: 0px;
  border-radius: 12.6px;
}

/* hr {
  position: relative;
  top: 50px;
  border: 1px solid #ECECEC;
  width: 305px;
  margin-left: 18.5px;
} */

.card-title {
  width: 310px;
  height: 50px;
  position: relative;
  top: 37px;
  left: 18px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
}

.pic {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  position: relative;
  margin-left: 18px;
  top: 68px;
}

.pic-text {
  position: relative;
  top: 35px;
  margin-left: 55px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  text-align: left;
}

.pic-text2 {
  position: relative;
  top: 35px;
  margin-left: 55px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  color: #797979;
}

.heart {
  width: 12px;
  height: 10px;
  font-size: 16px;
  top: 18px;
  left: 70px;
  color: #A5A5A5;
}

.likes {
  position: relative;
  top: 8px;
  left: 180px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.12px;
  text-align: left;
  color: #787878;
}

.comment {
  width: 15px;
  height: 13px;
  font-size: 17px;
  top: -7px;
  left: 125px;
  color: #A5A5A5;
}

.comments {
  position: relative;
  top: -20px;
  left: 235px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.12px;
  text-align: left;
  color: #787878;
}

.bottom {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 140px;
  margin-top: 30px;
  box-shadow: 1px 2px 4px 1px rgba(60, 60, 60, 0.2);
}

.blog {
  color: rgb(197, 12, 12);
  position: relative;
  top: -10px;
  margin-left: 170px;
}

.para {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}

.cat {
  font-weight: 700;
  line-height: 20.16px;
  margin-left: 80px;
  font-size: 16px;
}

.list {
  position: relative;
  top: 25px;
  line-height: 22px;
}

.get {
  font-weight: 700;
  line-height: 20.16px;
  margin-left: 80px;
  font-size: 16px;
}

.contact {
  position: relative;
  top: 25px;
  line-height: 22px;
}

.us {
  font-weight: 700;
  line-height: 20.16px;
  text-align: justified;
  margin-right: 90px;
  font-size: 16px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 105px;
  position: relative;
  top: 29px;
  font-size: 19px;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 2px;
}

.copyright {
  font-weight: 400;
  line-height: 17.64px;
  text-align: justified;
  color: #2B2C34;
  margin: 13px 90px;
  font-size: 14px;
}

.made {
  font-weight: 400;
  line-height: 16.38px;
  text-align: justified;
  color: #2B2C34;
  margin: 13px 90px;
  font-size: 13px;
}
